$blue: #3179b4;
$blue-light: #3ea2d8;
$blue-dark: #234c8c;
$green: #94c32c;
$green-light: #94c32c;
$green-dark: #30853a;
$white-beige: #fafafa;
$white: #fff;
$gray-light: #edf2ef;
$mustard: #f0c630;
$reddish: #f05630;
